@import './style/astal.scss';
@import './style/fonts.scss';

$paddingSmall: $paddingBase / 2;
$paddingMedium: $paddingSmall * 1.5;
$paddingLarge: $paddingMedium + $paddingBase;

$corners: 0.5em 0em 0.5em 0em;
$cornersReversed: 0em 0.5em 0em 0.5em;

* {
  all: unset;
  // color: $text;
}

label {
  color: $text;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin corners-all {
  border-radius: $brv;
}
@mixin corners-square {
  border-radius: 0em;
}
@mixin corners-circle {
  border-radius: 50%;
}
@mixin corners-top {
  border-radius: $brv $brv 0em 0em;
}
@mixin corners-right {
  border-radius: 0em $brv $brv 0em;
}
@mixin corners-bottom {
  border-radius: 0em 0em $brv $brv;
}
@mixin corners-left {
  border-radius: $brv 0em 0em $brv;
}

@mixin transparent {
  background-color: transparent;
  border: $borderWidth solid transparent;
}

@mixin bg {
  background-color: $bg_trans;
  border: $borderWidth solid $bg;
}

@mixin surface {
  background-color: $surface_trans;
  border: $borderWidth solid $surface;
}
@mixin hover {
  background-color: $hover_trans;
  border: $borderWidth solid $hover;
}
@mixin active {
  background-color: darken($hover_trans, 15%);
  border: $borderWidth solid darken($hover, 15%);
}

@mixin accent {
  background-color: $accent_trans;
  border: $borderWidth solid $accent;
}
@mixin accent_hover {
  background-color: $accent_trans_hover;
  border: $borderWidth solid $accent_hover;
}
@mixin accent_active {
  background-color: darken($accent_trans_hover, 15%);
  border: $borderWidth solid darken($accent_trans_hover, 15%);
}

tooltip {
  @include bg;
  @include corners-all;
  padding: $paddingSmall;
}

.icon-material {
  font-family: 'MaterialSymbolsOutlined';
  // font-weight: bold;
}

.h1 {
  font-family: $title;
  font-weight: bold;
  font-size: 2em;
}
.h2 {
  font-family: $title;
  font-weight: bold;
  font-size: 1.5em;
}
.h3 {
  font-family: $title;
  font-weight: normal;
  font-size: 1.25em;
}
.body {
  font-family: $body;
  font-weight: normal;
  font-size: 1em;
}

button {
  @include bg;
  @include corners-all;
  padding: $paddingSmall;
  min-width: $buttonSize;
  min-height: $buttonSize;
  &:hover {
    @include hover;
  }
  &:active {
    @include active;
  }
}

menu {
  @include bg;
  @include corners-all;
  padding: $paddingMedium;

  menuitem {
    @include transparent;
    @include corners-all;

    &:hover {
      @include hover;
    }
    &:active {
      @include active;
    }
  }
}

.dropdown {
  @include bg;
  @include corners-all;

  .dropdown-option {
    @include transparent;
    @include corners-all;
    &.selected {
      @include corners-bottom;
    }
    &:hover {
      @include hover;
    }
    &:active {
      @include active;
    }
  }

  &.expanded {
    @include corners-left;
    .dropdown-option.selected {
      @include surface;
      margin-bottom: 4px;
      &:hover {
        @include hover;
      }
      &:active {
        @include active;
      }
    }
  }
}

@import './style/desktop.scss';
@import './style/bar.scss';
@import './style/panel.scss';
@import './style/notification.scss';
