.Bar {
  font-family: $body;
  .icon-material {
    font-weight: bold;
  }
  .active-client {
    @include bg;
    @include corners-all;
    min-width: $buttonSize;
    min-height: $buttonSize;
    padding: $paddingSmall;
  }
  .Workspaces {
    @include bg;
    @include corners-all;
    font-weight: bold;
    padding: $paddingSmall;
    min-width: $buttonSize;

    button {
      all: unset;
      @include corners-circle;
      min-width: $buttonSize - $paddingSmall;
      min-height: $buttonSize - $paddingSmall;

      label {
        color: lighten($surface, 10%);
      }

      &.real {
        label {
          color: $text;
        }
        // background-color: $surfaceDark;
      }
      &:hover {
        label {
          color: $text;
        }
        background-color: $hover;
        &:active {
          background-color: darken($hover, 15%);
        }
      }
      &.focused {
        background-color: $accent;
        &:hover {
          background-color: $accent_hover;
        }
        &:active {
          background-color: darken($accent_hover, 15%);
        }
      }
    }
  }

  .Clock {
    min-width: $buttonSize;
    min-height: $buttonSize;
    // padding: $paddingMedium;
    font-weight: bold;
    .time {
      padding-top: 4px;
      font-family: $digital;
      font-size: $digitalMedium;
      .am-pm {
        color: lighten($surface, 10%);
      }
    }
    .date {
      color: $accent;
      &.vertical {
        font-size: 0.73em;
      }
    }
  }
  .Sys-Tray {
    button {
      min-width: $buttonSize;
      min-height: $buttonSize;
    }
  }
  .Sys-Monitor {
    @include bg;
    @include corners-all;
    padding: $paddingMedium - $borderWidth - 1px;
    min-width: $buttonSize;
    min-height: $buttonSize;
    padding-top: $paddingSmall;
    padding-bottom: $paddingSmall;

    // .resource {
    //   background-color: $surface;
    //   color: $accent;
    //   font-size: 3px;
    //   min-width: 8em;
    //   min-height: 8em;
    // }
    button {
      @include transparent;
      // padding: 0px;
      min-width: 0px;
      min-height: 0px;
    }
  }
}
