.Bar {
  font-family: $body;
  .icon-material {
    font-weight: bold;
  }
  .Workspaces {
    @include bg;
    @include corners-all;
    font-weight: bold;
    padding: $paddingSmall;
    min-width: $buttonSize;

    button {
      all: unset;
      @include corners-circle;
      min-width: $buttonSize - $paddingSmall;
      min-height: $buttonSize - $paddingSmall;

      &.real {
        background-color: $surfaceDark;
      }
      &.focused {
        background-color: $surface_trans;
      }
      &:hover {
        background-color: $hover;
      }
      &:active {
        background-color: $surface;
      }
    }
  }

  .Clock {
    min-width: $buttonSize + $paddingSmall * 2;
    font-weight: bold;
    .time {
      padding-top: 4px;
      font-family: $digital;
      font-size: $digitalMedium;
      .am-pm {
        color: $surface;
      }
    }
    .date {
      font-size: 0.73em;
      color: $fg;
    }
  }
  .Sys-Tray {
    button {
      min-width: $buttonSize;
      min-height: $buttonSize;
    }
  }
  .Sys-Monitor {
    @include bg;
    @include corners-all;
    // padding: $paddingMedium;
    min-width: $buttonSize;

    // .resource {
    //   background-color: $surface;
    //   color: $fg;
    //   font-size: 3px;
    //   min-width: 8em;
    //   min-height: 8em;
    // }
    button {
      @include transparent;
      padding: 0em;
    }
  }
}
