.Panel {
  @include bg;
  @include corners-all;
  font-family: $body;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20em;
  background-blend-mode: darken;

  .panel-container {
    // min-width: 10em;
    padding: $paddingLarge;
  }
  .panel-section {
    @include transparent;
    @include corners-all;
    &.hover {
      @include hover;
    }
    &.active {
      @include active;
    }
    &.notifications {
      @include transparent;
    }

    .title-bar {
      @include transparent;
      padding: $paddingSmall;

      // font-weight: bold;
      font-size: 1.5em;

      .title {
        font-family: $title;
      }

      #searchbox {
        @include surface;
        @include corners-all;
        padding: $paddingMedium $paddingLarge;

        font-size: 0.67em;
        font-weight: normal;
      }
      #searchbox selection {
        background-color: $accent;
        font-weight: bold;
      }

      .section-actions {
        button {
          @include transparent;
          font-size: 0.75em;
          padding: 0px $paddingSmall 0px $paddingSmall;

          &:hover {
            @include hover;
          }
          &:active {
            @include active;
          }
        }
      }
    }

    .section-content {
      padding: $paddingMedium;

      .quick-settings {
        @include surface;
        @include corners-all;
        padding: $paddingMedium;

        .quick-setting {
          @include transparent;
          @include corners-circle;
          min-width: $buttonSize;
          min-height: $buttonSize;
          padding: $paddingSmall;

          &:hover {
            @include hover;
            @include corners-all;
          }
          &:active {
            @include active;
          }
          &.active {
            @include accent;
            &:hover {
              @include accent_hover;
            }
            &:active {
              @include accent_active;
            }
          }

          .name {
            margin-left: 4px;
            font-weight: bold;
          }
        }
      }

      .subsection-selector {
        @include surface;
        @include corners-all;
        padding: $paddingMedium;

        .subsection-button {
          @include transparent;
          @include corners-circle;
          min-width: $buttonSize;
          min-height: $buttonSize;

          &:hover {
            @include hover;
          }
          &:active {
            @include active;
          }
          &.active {
            @include accent;
            &:hover {
              @include accent_hover;
            }
            &:active {
              @include accent_active;
            }
          }
        }
      }

      .subsection {
        button {
          @include surface;
          @include corners-all;
          padding: $paddingLarge;
          &:hover {
            @include hover;
          }
          &:active {
            @include active;
          }
        }

        .mute-button {
          border-radius: $brv 0em 0em 0em;
          padding: 0px;
          @include surface;
          &:hover {
            @include hover;
          }
          &:active {
            @include active;
          }
          border-right-color: transparent;
        }
        scale.volume-slider {
          padding: 0em;
          // margin-top: 0.125em;
          trough {
            border-radius: 0em $brv 0em 0em;
            @include surface;
            min-height: $buttonSize;
          }

          highlight {
            background-color: $accent;
            border-radius: 0em $brv 0em 0em;
            padding: 0em $brv 0em 0em;
            &:hover {
              background-color: $accent_hover;
            }
          }

          slider {
            all: unset;
          }
        }
        .dropdown {
          @include surface;
          @include corners-bottom;
          border-top-color: transparent;

          .dropdown-option {
            @include transparent;
            @include corners-all;
            padding: $paddingSmall;

            &.selected {
              @include corners-bottom;
            }
            &:hover {
              @include hover;
            }
            &:active {
              @include active;
            }
          }
          &.expanded {
            .dropdown-option {
              &.selected {
                @include accent;
                margin-bottom: 4px;
                &:hover {
                  @include hover;
                }
                &:active {
                  @include accent_active;
                }
              }
            }
          }
        }
      }
    }

    .search-result {
      @include transparent;
      &.selected {
        @include hover;
      }
      &:active {
        @include active;
      }

      .title {
        font-size: 1.25em;
        font-weight: bold;

        &.with-description {
          font-size: 1em;
        }
      }
      .description {
        font-size: 0.75em;
        font-weight: normal;
      }
    }

    .search-results-section {
      .section-title {
        font-family: $title;
        font-size: 1.25em;
      }
    }

    .media-player {
      @include surface;
      @include corners-all;
      padding: $paddingLarge;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .cover-art {
        @include corners-all;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 7.5em;
        min-width: 7.5em;
      }
      .metadata-label {
        font-weight: bold;
        font-size: 1.125em;
      }

      .player-control {
        @include transparent;
        @include corners-circle;
        // min-width: ;
        &.active {
          @include surface;
        }
        &:hover {
          @include hover;
        }
        &:active {
          @include active;
        }
      }
      scale.position-slider {
        padding: 0em;
        trough {
          @include corners-all;
          @include surface;
          min-height: 1em;
        }

        highlight {
          background-color: $accent;
          @include corners-all;
          padding: 0em $brv 0em $brv;
          &:hover {
            background-color: $accent_hover;
          }
        }

        slider {
          all: unset;
        }
      }
    }
  }
}
